.pytest_cache/
.ruff_cache/
database.db
pgdata/
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
docs/_build/
.ipynb_checkpoints
__pypackages__/
.env
.mypy_cache/
.vscode/
poetry.toml
openapi.json